
body{
    display: flex;
    margin-left: 250px;

   
}
.link{
    display: flex;
    justify-content: start;
    align-items: start;

    font-size: 2rem;
  
}

h1{
    font-family: Rubik Iso;
    font-size: 3rem;
    animation: color-change 1s infinite;
}
@keyframes color-change{
    0%  { color: black;}
    50%{ color: red;}
}
p{
    font-family:Edu NSW ACT Foundation;
    font-size: 20px;
    padding:  20px;
}
.container{
  
    height: 700px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
span{
    color: red;
}
.question-style{
    font-size: 2rem;
    font-weight: bold;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
   
}

.btn{
    color: white;
    background-color: blueviolet;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    font-size: 20px;
    margin: 2rem;
    
}
.btn:hover{
   border: 5px solid blue;

}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-btn, .restart-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
.hide{
    display: none;
}
.score-controls{
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}

