:root{
    --hue-wrong: 0;
    --hue-correct: 145;
}
.container{
  
    height: 700px;
    width: 700px;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
span{
    color: red;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    color: white;
    background-color: blueviolet;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    font-size: 50px;
    
}
.btn:hover{
    border-color: black;
}
.btn.correct{
    --hue:var(--hue-correct);
    color: black;
}
.btn.wrong{
    --hue: var(--hue-wrong);
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-btn, .restart-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
.hide{
    display: none;
}
