main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
span{
    color: red;
}
#quiz-box{
    background-color: lightcyan;
    height: 700px;
    width: 700px;
    border: 4px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.quizone{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.quiztwo{
height: 400px;
width: 400px;
background-color:white;
border: 3px solid black;
margin-bottom: 20px;
}

button{
    color: white;
    background-color: blueviolet;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    font-size: 50px;
    
}
